<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name ="mysqlassemblies" type="MySQLHostManager.MySQLAssemblyList, 
             MySQLHostManager, Version=1.0.0.0, PublicKeyToken=71c4a5d4270bd29c"/>
  </configSections>

  <mysqlassemblies>
    <permissionsets>

      <permissionset name="MySQLPartial">
        <permissions>
          <add name="FileIOPermission" />
        </permissions>
      </permissionset>

    </permissionsets>

    <assemblies>
      <!--No specific permission set assigned to this assembly; uses default (MySQLPartial)-->
      <assembly name="MySQLCustomClass.CustomMySQLClass" fullname ="MySQLCustomClass, 
                Version=1.0.0.0, PublicKeyToken=a55d172c54d273f4" clrversion="2.0" />

      <!--FullTrust Granted to this assembly-->
      <assembly name="MySQLCustomClass.FullTrustAssemblyDemo" fullname ="MySQLCustomClass, 
                Version=1.0.0.0, PublicKeyToken=a55d172c54d273f4" clrversion="2.0"
                permissions="FullTrust"/>
      <!--MySQLPartial Granted to this assembly-->
      <assembly name="MySQLCustomClass.PartialTrustAssemblyDemo" fullname ="MySQLCustomClass, 
                Version=1.0.0.0, PublicKeyToken=a55d172c54d273f4" clrversion="2.0"
                permissions="MySQLPartial"/>
    </assemblies>
  </mysqlassemblies>
</configuration>