<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

  <Product Id="*" Name="MySQL .NET UDF" Language="1033" Version="1.0.0.0" Manufacturer="James Davis, www.debugthings.com"
           UpgradeCode="a4d9eaa0-947d-4442-a124-78a7f3ed4815"  >
    <Package InstallerVersion="405" Compressed="yes" InstallScope="perMachine"
             Platform="x64"  Description="MySQL .NET UDF" Manufacturer="www.debugthings.com"  />
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/jldgit/mysql_udf_dotnet" />
    <Property Id="ARPURLUPDATEINFO" Value="http://www.debugthings.com/mysql" />
    <Property Id="ARPSIZE" Value="1024" />


    <?define CustomText="Use this to install MySQL .NET UDF to a custom location. Use the browse button below to select the directory." ?>
    <?define InstallText50="Installs the MySQL .NET UDF plugin to the MySQL 5.0 installation directory and the .NET Assemblies into the GAC." ?>
    <?define InstallText51="Installs the MySQL .NET UDF plugin to the MySQL 5.1 installation directory and the .NET Assemblies into the GAC." ?>
    <?define InstallText55="Installs the MySQL .NET UDF plugin to the MySQL 5.5 installation directory and the .NET Assemblies into the GAC." ?>
    <?define InstallText56="Installs the MySQL .NET UDF plugin to the MySQL 5.6 installation directory and the .NET Assemblies into the GAC." ?>
    <?define InstallText57="Installs the MySQL .NET UDF plugin to the MySQL 5.7 installation directory and the .NET Assemblies into the GAC." ?>

    <?define InstallText50_64="Installs the 64-bit MySQL .NET UDF plugin to the MySQL 5.0 installation directory and the .NET Assemblies into the GAC." ?>
    <?define InstallText51_64="Installs the 64-bit MySQL .NET UDF plugin to the MySQL 5.1 installation directory and the .NET Assemblies into the GAC." ?>
    <?define InstallText55_64="Installs the 64-bit MySQL .NET UDF plugin to the MySQL 5.5 installation directory and the .NET Assemblies into the GAC." ?>
    <?define InstallText56_64="Installs the 64-bit MySQL .NET UDF plugin to the MySQL 5.6 installation directory and the .NET Assemblies into the GAC." ?>
    <?define InstallText57_64="Installs the 64-bit MySQL .NET UDF plugin to the MySQL 5.7 installation directory and the .NET Assemblies into the GAC." ?>
    <?define MainDesc="This base package will install the MySQL .NET UDF native plugin as well as the proper host managers and config files."?>

    <Property Id="MYSQLVERSION">
      <DirectorySearch Id="Pro" Path="[ProgramFilesFolder]">
        <DirectorySearch Id="MySQL" Path="MySQL" />
      </DirectorySearch>
    </Property>

    <Property Id="MYSQLVERSION64">
      <DirectorySearch Id="Pro64" Path="[ProgramFiles64Folder]">
        <DirectorySearch Id="MySQL64" Path="MySQL" />
      </DirectorySearch>
    </Property>

    <Condition Message="In order to use the MySQL .NET UDF you must have .NET 2.0 or greater installed. Please visit http://www.microsoft.com/net to download the latest version. The installer will exit now.">
      <![CDATA[NOT NETFRAMEWORK20 AND NOT NETFRAMEWORK40]]>
    </Condition>

    <!--START 64bit Version Checks-->
    <Property Id="MYSQLVERSION64_50">
      <DirectorySearchRef  Id="MySQL64" Parent="Pro64" Path="MySQL">
        <DirectorySearch Id ="MySQL64_50" Path="MySQL Server 5.0"></DirectorySearch>
      </DirectorySearchRef>
    </Property>
    <Property Id="MYSQLVERSION64_51">
      <DirectorySearchRef  Id="MySQL64" Parent="Pro64" Path="MySQL">
        <DirectorySearch Id ="MySQL64_51" Path="MySQL Server 5.1"></DirectorySearch>
      </DirectorySearchRef>
    </Property>
    <Property Id="MYSQLVERSION64_55">
      <DirectorySearchRef  Id="MySQL64" Parent="Pro64" Path="MySQL">
        <DirectorySearch Id ="MySQL64_55" Path="MySQL Server 5.5"></DirectorySearch>
      </DirectorySearchRef>
    </Property>
    <Property Id="MYSQLVERSION64_56">
      <DirectorySearchRef  Id="MySQL64" Parent="Pro64" Path="MySQL">
        <DirectorySearch Id ="MySQL64_56" Path="MySQL Server 5.6"/>
      </DirectorySearchRef>
    </Property>
    <Property Id="MYSQLVERSION64_57">
      <DirectorySearchRef  Id="MySQL64" Parent="Pro64" Path="MySQL">
        <DirectorySearch Id ="MySQL64_57" Path="MySQL Server 5.7"></DirectorySearch>
      </DirectorySearchRef>
    </Property>
    <!--END 64bit Version Checks-->

    <!--START 32bit Version Checks-->
    <Property Id="MYSQLVERSION_50">
      <DirectorySearchRef  Id="MySQL" Parent="Pro" Path="MySQL">
        <DirectorySearch Id ="MySQL_50" Path="MySQL Server 5.0"></DirectorySearch>
      </DirectorySearchRef>
    </Property>
    <Property Id="MYSQLVERSION_51">
      <DirectorySearchRef  Id="MySQL" Parent="Pro" Path="MySQL">
        <DirectorySearch Id ="MySQL_51" Path="MySQL Server 5.1"></DirectorySearch>
      </DirectorySearchRef>
    </Property>
    <Property Id="MYSQLVERSION_55">
      <DirectorySearchRef  Id="MySQL" Parent="Pro" Path="MySQL">
        <DirectorySearch Id ="MySQL_55" Path="MySQL Server 5.5"></DirectorySearch>
      </DirectorySearchRef>
    </Property>
    <Property Id="MYSQLVERSION_56">
      <DirectorySearchRef  Id="MySQL" Parent="Pro" Path="MySQL">
        <DirectorySearch Id ="MySQL_56" Path="MySQL Server 5.6"></DirectorySearch>
      </DirectorySearchRef>
    </Property>
    <Property Id="MYSQLVERSION_57">
      <DirectorySearchRef  Id="MySQL" Parent="Pro" Path="MySQL">
        <DirectorySearch Id ="MySQL_57" Path="MySQL Server 5.7"></DirectorySearch>
      </DirectorySearchRef>
    </Property>
    <!--END 32bit Version Checks-->

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate  EmbedCab="yes" />
    <UIRef Id="WixUI_FeatureTree"/>


    <Feature Id="VCRedist12x86" Title="Visual C++ 12.0 Runtime (32-bit)" AllowAdvertise="no" Display="hidden" Level="1">
      <MergeRef Id="VCRedistx86"/>
    </Feature>
    <Feature Id="VCRedist12x64" Title="Visual C++ 12.0 Runtime (64-bit)" AllowAdvertise="no" Display="hidden" Level="1">
      <MergeRef Id="VCRedistx64"/>
    </Feature>

    <Feature Id="ProductFeature" Title="MySQL .NET UDF" Level="1" Display="expand" Description="$(var.MainDesc)">
      <Feature Id="DotNet20Assemblies" Level="0" Display="hidden" >
        <Component Id="cmp_MySQLHostManager20"  Guid="{F158CF0A-C7D3-4521-A376-2E71A0B9A8EB}" Directory="GAC35">
          <File  Id="fil_MySQLHostManager20" KeyPath="yes" Assembly=".net"  Source="C:\Users\James\Source\Repos\mysql_udf\mysql_managed_interface\bin\Debug\MySQLHostManager.dll" />
        </Component>
        <Condition Level="1">
          <![CDATA[NETFRAMEWORK20]]>
        </Condition>
      </Feature>
      <Feature Id="DotNet40Assemblies" Level="0" Display="hidden" >
        <Component Id="cmp_MySQLHostManager40"  Guid="{BA5E51B5-5CE0-41C1-93E4-A5D10499B1E4}" Directory="GAC40">
          <File  Id="fil_MySQLHostManager40" KeyPath="yes" Assembly=".net"  Source="C:\Users\James\Source\Repos\mysql_udf\MySQLHostManager40\bin\Debug\MySQLHostManager.dll" />
        </Component>
        <Condition Level="1">
          <![CDATA[NETFRAMEWORK40]]>
        </Condition>
      </Feature>

      <Feature Id="MySQL50_X86" Title="Install for MySQL 5.0 (32-bit)" Level="0" Description="$(var.InstallText50)">
        <ComponentGroupRef Id="cmpgrp_MySQL50" />
        <ComponentGroupRef Id="cmpgrp_MySQL50Config" />
        <Condition Level="1">  <![CDATA[MYSQLVERSION_50]]></Condition>
      </Feature>
      <Feature Id="MySQL50_X64" Title="Install for MySQL 5.0 (64-bit)" Level="0" Description="$(var.InstallText50_64)">
        <ComponentGroupRef Id="cmpgrp_MySQL50_64" />
        <ComponentGroupRef Id="cmpgrp_MySQL50Config_64" />
        <Condition Level="1">  <![CDATA[MYSQLVERSION64_50]]></Condition>
      </Feature>

      <Feature Id="MySQL51_X86" Title="Install for MySQL 5.1 (32-bit)" Level="0" Description="$(var.InstallText51)" >
        <ComponentGroupRef Id="cmpgrp_MySQL51" />
        <ComponentGroupRef Id="cmpgrp_MySQL51Config" />
        <Condition Level="1">  <![CDATA[MYSQLVERSION_51]]></Condition>
      </Feature>
      <Feature Id="MySQL51_X64" Title="Install for MySQL 5.1 (64-bit)" Level="0" Description="$(var.InstallText51_64)" >
        <ComponentGroupRef Id="cmpgrp_MySQL51_64" />
        <ComponentGroupRef Id="cmpgrp_MySQL51Config_64" />
        <Condition Level="1">  <![CDATA[MYSQLVERSION64_51]]></Condition>
      </Feature>

      <Feature Id="MySQL55_X86" Title="Install for MySQL 5.5 (32-bit)" Level="0" Description="$(var.InstallText55)">
        <ComponentGroupRef Id="cmpgrp_MySQL55" />
        <ComponentGroupRef Id="cmpgrp_MySQL55Config" />
        <Condition Level="1">  <![CDATA[MYSQLVERSION_55]]></Condition>
      </Feature>
      <Feature Id="MySQL55_X64" Title="Install for MySQL 5.5 (64-bit)" Level="0" Description="$(var.InstallText55_64)">
        <ComponentGroupRef Id="cmpgrp_MySQL55_64" />
        <ComponentGroupRef Id="cmpgrp_MySQL55Config_64" />
        <Condition Level="1">  <![CDATA[MYSQLVERSION64_55]]></Condition>
      </Feature>

      <Feature Id="MySQL56_X86" Title="Install for MySQL 5.6 (32-bit)" Level="0" Description="$(var.InstallText56)">
        <ComponentGroupRef Id="cmpgrp_MySQL56" />
        <ComponentGroupRef Id="cmpgrp_MySQL56Config" />
        <Condition Level="1">  <![CDATA[MYSQLVERSION_56]]></Condition>
      </Feature>
      <Feature Id="MySQL56_X64" Title="Install for MySQL 5.6 (64-bit)" Level="0" Description="$(var.InstallText56_64)">
        <ComponentGroupRef Id="cmpgrp_MySQL56_64" />
        <ComponentGroupRef Id="cmpgrp_MySQL56Config_64" />
        <Condition Level="1">  <![CDATA[MYSQLVERSION64_56]]></Condition>
      </Feature>

      <Feature Id="MySQL57_X86" Title="Install for MySQL 5.7 (32-bit)" Level="0" Description="$(var.InstallText57)">
        <ComponentGroupRef Id="cmpgrp_MySQL57" />
        <ComponentGroupRef Id="cmpgrp_MySQL57Config" />
        <Condition Level="1">  <![CDATA[MYSQLVERSION_57]]></Condition>
      </Feature>
      <Feature Id="MySQL57_X64" Title="Install for MySQL 5.7 (64-bit)" Level="0" Description="$(var.InstallText57_64)" >
        <ComponentGroupRef Id="cmpgrp_MySQL57_64" />
        <ComponentGroupRef Id="cmpgrp_MySQL57Config_64" />
        <Condition Level="1">  <![CDATA[MYSQLVERSION64_57]]></Condition>
      </Feature>

      <Feature Id="MySQLCUST_X86" Title="Custom Install for MySQL (32-bit)" Level="0" ConfigurableDirectory="BIN56" Description="$(var.CustomText)">
        <ComponentGroupRef Id="cmpgrp_MySQL50" />
        <ComponentGroupRef Id="cmpgrp_MySQL50Config" />
        <Condition Level="1">  <![CDATA[NOT MYSQLVERSION OR NOT MYSQLVERSION64]]></Condition>
      </Feature>
      <Feature Id="MySQLCUST_X64" Title="Custom Install for MySQL (64-bit)" Level="0"  ConfigurableDirectory="BIN56_64"  Description="$(var.CustomText)">
        <ComponentGroupRef Id="cmpgrp_MySQL50_64" />
        <ComponentGroupRef Id="cmpgrp_MySQL50Config_64" />

        <Condition Level="1">  <![CDATA[NOT MYSQLVERSION OR NOT MYSQLVERSION64]]></Condition>
      </Feature>
    </Feature>
  </Product>


  <Fragment >
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Merge Id="VCRedistx86" SourceFile="Microsoft_VC120_CRT_x86.msm" DiskId="1" Language="0"/>
      <Merge Id="VCRedistx64" SourceFile="Microsoft_VC120_CRT_x64.msm" DiskId="1" Language="0"/>
      <Directory Id="ProgramFilesFolder">
        <Directory Id="MYSQLFOLDER" Name="MySQL">
          <Directory Id="GAC35" Name="GAC35" />
          <Directory Id="GAC40" Name="GAC40" />
          <Directory Id="MYSQLVER50" Name="MySQL Server 5.0">
            <Directory Id="BIN50" Name="bin" />
            <Directory Id="LIB50" Name="lib">
              <Directory Id="PLUGIN50" Name="plugin" />
            </Directory>
          </Directory>
          <Directory Id="MYSQLVER51" Name="MySQL Server 5.1">
            <Directory Id="BIN51" Name="bin" />
            <Directory Id="LIB51" Name="lib">
              <Directory Id="PLUGIN51" Name="plugin" />
            </Directory>
          </Directory>
          <Directory Id="MYSQLVER52" Name="MySQL Server 5.2">
            <Directory Id="BIN52" Name="bin" />
            <Directory Id="LIB52" Name="lib">
              <Directory Id="PLUGIN52" Name="plugin" />
            </Directory>
          </Directory>
          <Directory Id="MYSQLVER53" Name="MySQL Server 5.3">
            <Directory Id="BIN53" Name="bin" />
            <Directory Id="LIB53" Name="lib">
              <Directory Id="PLUGIN53" Name="plugin" />
            </Directory>
          </Directory>
          <Directory Id="MYSQLVER54" Name="MySQL Server 5.4">
            <Directory Id="BIN54" Name="bin" />
            <Directory Id="LIB54" Name="lib">
              <Directory Id="PLUGIN54" Name="plugin" />
            </Directory>
          </Directory>
          <Directory Id="MYSQLVER55" Name="MySQL Server 5.5">
            <Directory Id="BIN55" Name="bin" />
            <Directory Id="LIB55" Name="lib">
              <Directory Id="PLUGIN55" Name="plugin" />
            </Directory>
          </Directory>
          <Directory Id="MYSQLVER56" Name="MySQL Server 5.6">
            <Directory Id="BIN56" Name="bin" />
            <Directory Id="LIB56" Name="lib">
              <Directory Id="PLUGIN56" Name="plugin" />
            </Directory>
          </Directory>
          <Directory Id="MYSQLVER57" Name="MySQL Server 5.7">
            <Directory Id="BIN57" Name="bin" />
            <Directory Id="LIB57" Name="lib">
              <Directory Id="PLUGIN57" Name="plugin" />
            </Directory>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="MYSQLFOLDER_64" Name="MySQL">
          <Directory Id="MYSQLVER50_64" Name="MySQL Server 5.0">
            <Directory Id="BIN50_64" Name="bin" />
            <Directory Id="LIB50_64" Name="lib">
              <Directory Id="PLUGIN50_64" Name="plugin" />
            </Directory>
          </Directory>
          <Directory Id="MYSQLVER51_64" Name="MySQL Server 5.1">
            <Directory Id="BIN51_64" Name="bin" />
            <Directory Id="LIB51_64" Name="lib">
              <Directory Id="PLUGIN51_64" Name="plugin" />
            </Directory>
          </Directory>
          <Directory Id="MYSQLVER52_64" Name="MySQL Server 5.2">
            <Directory Id="BIN52_64" Name="bin" />
            <Directory Id="LIB52_64" Name="lib">
              <Directory Id="PLUGIN52_64" Name="plugin" />
            </Directory>
          </Directory>
          <Directory Id="MYSQLVER53_64" Name="MySQL Server 5.3">
            <Directory Id="BIN53_64" Name="bin" />
            <Directory Id="LIB53_64" Name="lib">
              <Directory Id="PLUGIN53_64" Name="plugin" />
            </Directory>
          </Directory>
          <Directory Id="MYSQLVER54_64" Name="MySQL Server 5.4">
            <Directory Id="BIN54_64" Name="bin" />
            <Directory Id="LIB54_64" Name="lib">
              <Directory Id="PLUGIN54_64" Name="plugin" />
            </Directory>
          </Directory>
          <Directory Id="MYSQLVER55_64" Name="MySQL Server 5.5">
            <Directory Id="BIN55_64" Name="bin" />
            <Directory Id="LIB55_64" Name="lib">
              <Directory Id="PLUGIN55_64" Name="plugin" />
            </Directory>
          </Directory>
          <Directory Id="MYSQLVER56_64" Name="MySQL Server 5.6">
            <Directory Id="BIN56_64" Name="bin" />
            <Directory Id="LIB56_64" Name="lib">
              <Directory Id="PLUGIN56_64" Name="plugin" />
            </Directory>
          </Directory>
          <Directory Id="MYSQLVER57_64" Name="MySQL Server 5.7">
            <Directory Id="BIN57_64" Name="bin" />
            <Directory Id="LIB57_64" Name="lib">
              <Directory Id="PLUGIN57_64" Name="plugin" />
            </Directory>
          </Directory>
        </Directory>
        <Directory Id="MYSQLUDF" Name="MySQL .NET UDF"></Directory>
      </Directory>
    </Directory>
  </Fragment>


  <Fragment>
    <Component Id="cmp_MySQLConfig"  Guid="*"  Directory="BIN50">
      <File  Id="fil_mysqld.exe.config"  Source="..\mysql_managed_interface\mysqld.exe.config" />
    </Component>
    <Component Id="cmp_MySQLPlugin"  Guid="*" Directory="PLUGIN50">
      <File  Id="fil_MySQLDotNet.dll"   Source="..\x86\Release\MySQLDotNet.dll"  />
    </Component>
    <Component Id="cmp_MySQLPlugin_64"  Guid="*" Directory="PLUGIN50_64" Win64="yes" >
      <File  Id="fil_MySQLDotNet.dll_64"   Source="..\x64\Release\MySQLDotNet.dll"  />
    </Component>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="cmpgrp_MySQL50" Directory="PLUGIN50">
      <ComponentRef Id="cmp_MySQLPlugin" />
    </ComponentGroup>
    <ComponentGroup Id="cmpgrp_MySQL50_64" Directory="PLUGIN50_64">
      <ComponentRef Id="cmp_MySQLPlugin_64" />
    </ComponentGroup>

    <ComponentGroup Id="cmpgrp_MySQL50Config" Directory="BIN50">
      <ComponentRef Id="cmp_MySQLConfig" />
    </ComponentGroup>
    <ComponentGroup Id="cmpgrp_MySQL50Config_64" Directory="BIN50_64">
      <ComponentRef Id="cmp_MySQLConfig" />
    </ComponentGroup>

    <ComponentGroup Id="cmpgrp_MySQL51" Directory="PLUGIN51">
      <ComponentRef Id="cmp_MySQLPlugin" />
    </ComponentGroup>
    <ComponentGroup Id="cmpgrp_MySQL51_64" Directory="PLUGIN51_64">
      <ComponentRef Id="cmp_MySQLPlugin_64" />
    </ComponentGroup>

    <ComponentGroup Id="cmpgrp_MySQL51Config" Directory="BIN51">
      <ComponentRef Id="cmp_MySQLConfig" />
    </ComponentGroup>
    <ComponentGroup Id="cmpgrp_MySQL51Config_64" Directory="BIN51_64">
      <ComponentRef Id="cmp_MySQLConfig" />
    </ComponentGroup>

    <ComponentGroup Id="cmpgrp_MySQL55" Directory="PLUGIN55">
      <ComponentRef Id="cmp_MySQLPlugin" />
    </ComponentGroup>
    <ComponentGroup Id="cmpgrp_MySQL55_64" Directory="PLUGIN55_64">
      <ComponentRef Id="cmp_MySQLPlugin_64" />
    </ComponentGroup>

    <ComponentGroup Id="cmpgrp_MySQL55Config" Directory="BIN55">
      <ComponentRef Id="cmp_MySQLConfig" />
    </ComponentGroup>
    <ComponentGroup Id="cmpgrp_MySQL55Config_64" Directory="BIN55_64">
      <ComponentRef Id="cmp_MySQLConfig" />
    </ComponentGroup>


    <ComponentGroup Id="cmpgrp_MySQL56" Directory="PLUGIN56">
      <ComponentRef Id="cmp_MySQLPlugin" />
    </ComponentGroup>
    <ComponentGroup Id="cmpgrp_MySQL56_64" Directory="PLUGIN56_64">
      <ComponentRef Id="cmp_MySQLPlugin_64" />
    </ComponentGroup>

    <ComponentGroup Id="cmpgrp_MySQL56Config" Directory="BIN56">
      <ComponentRef Id="cmp_MySQLConfig" />
    </ComponentGroup>
    <ComponentGroup Id="cmpgrp_MySQL56Config_64" Directory="BIN56_64">
      <ComponentRef Id="cmp_MySQLConfig" />
    </ComponentGroup>


    <ComponentGroup Id="cmpgrp_MySQL57" Directory="PLUGIN57">
      <ComponentRef Id="cmp_MySQLPlugin" />
    </ComponentGroup>
    <ComponentGroup Id="cmpgrp_MySQL57_64" Directory="PLUGIN57_64">
      <ComponentRef Id="cmp_MySQLPlugin_64" />
    </ComponentGroup>

    <ComponentGroup Id="cmpgrp_MySQL57Config" Directory="BIN57">
      <ComponentRef Id="cmp_MySQLConfig" />
    </ComponentGroup>
    <ComponentGroup Id="cmpgrp_MySQL57Config_64" Directory="BIN57_64">
      <ComponentRef Id="cmp_MySQLConfig" />
    </ComponentGroup>

  </Fragment>
</Wix>