<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
   <configSections>
    <section name ="mysqlassemblies" type="MySQLHostManager.MySQLAssemblyList, 
             MySQLHostManager, Version=1.0.0.0, PublicKeyToken=71c4a5d4270bd29c"/>
  </configSections>

  <mysqlassemblies>
    <assemblies>
      <assembly name="MySQLCustomClass" fullname ="MySQLCustomClass, 
                Version=1.0.0.0, PublicKeyToken=a55d172c54d273f4" clrversion="2.0" />
    </assemblies>
  </mysqlassemblies>
</configuration>