<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name ="mysqlassemblies" type="MySQLHostManager.MySQLAssemblyList, 
             MySQLHostManager, Version=2.0.0.0, Culture=neutral, PublicKeyToken=71c4a5d4270bd29c"/>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0"/>
  </startup>
  
  <mysqlassemblies>
    <permissionsets>
      <permissionset name="MySQLPartial">
        <permissions>
          <add name="FileIOPermission" />
        </permissions>
      </permissionset>
      <!---->
    </permissionsets>

    <!-- Cycle every five minutes. Force recycle every 24 hours if none have occured -->
    <!-- NOTE: You must use the format day.hours:minutes:seconds.milliseconds -->
    <!-- http://msdn.microsoft.com/en-us/library/ee372286(v=vs.110).aspx -->
    <appDomainCleanup
      interval="0.00:05:00"
      forcedInterval="1.00:00:00" />
    
    <assemblies>
      <!--No specific permission set assigned to this assembly; uses default (MySQLPartial)-->
      <assembly name="MySQLCustomClass.CustomMySQLClass" fullname ="MySQLCustomClass, 
                Version=1.0.0.0, PublicKeyToken=a55d172c54d273f4" clrversion="4.0" />

      <!--FullTrust Granted to this assembly-->
      <assembly name="MySQLCustomClass.FullTrustAssemblyDemo" fullname ="MySQLCustomClass, 
                Version=1.0.0.0, PublicKeyToken=a55d172c54d273f4" clrversion="v2.0"
                permissions="FullTrust"/>
      <!--MySQLPartial Granted to this assembly-->
      <assembly name="MySQLCustomClass.PartialTrustAssemblyDemo" fullname ="MySQLCustomClass, 
                Version=1.0.0.0, PublicKeyToken=a55d172c54d273f4"
                permissions="MySQLPartial"/>
    </assemblies>
  </mysqlassemblies>
</configuration>